{% extends 'partials/base.html' %}		    <!-- FRANKLYN OLIHA  ID: 1611857-->

{%  block title %}  Index | {{block.super}} {% endblock %} <!-- To get the title tag - dynamically!!-->

{% block content %}


   <!--- Doctor Dashboard -->
<center><h5 class="mt-5 mb-5 text-white"><b> DOCTOR DASHBOARD </b></h5></center>

	<div style="margin: auto; width: 60%" align="center">
		<hr><br>
		<a href="../../../patient_diagnosis/" role="button" class="btn btn-dark py-3 btn-md btn-block border-button-radius"> Diagnosis </a>
		<a href="../../../list_all_illnesses/" role="button" class="btn btn-dark py-3 btn-block border-button-radius"> View Mental Illnesses </a>
		<a href="../../../result/" role="button" class="btn btn-dark py-3 btn-md btn-block border-button-radius">View and Comment on  Patient Diagnosis </a>
		<a href="../../../send_message/" role="button" class="btn btn-dark py-3 btn-md btn-block border-button-radius"> Message Admin </a>
		<a href="../../../view_messages/" role="button" class="btn btn-dark py-3 btn-md btn-block border-button-radius"> Inbox </a>		
	</div>




{% endblock %}